
h1{
    color: rgb(110, 14, 235);
}

.meme{
    position: relative;
    margin: 3%;
    width: 300px;
    height: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.img{
    position: relative;
    width: 100%;
    height: 100%;
}
.text{
    position: absolute;
    text-align: center; 
    width: 100%;
    font-size:1.5em;
    color: rgba(255, 255, 255);    
}

.top{
    top: 7%;
}

.bottom{
    bottom: 7%;
}
